<h1>Hi! <%= @user.username %> <%= image_tag @user.load_profile %></h1>
<h2>Check out your recommendations!</h2>

<br/>

<h3>Some of the top tags for below: <% for tag in @artists.collect {|a| a.top_tags }.flatten[0 .. 9] %> <%= tag.name %>  <% end %>
</h3>
<br/>
<% i = 1 %>
<% for artist in @artists %>

  <div class = "span3 artist_box" style = "">
    <%= content_tag :h3, link_to("#{i}. #{artist.name}", artist.url) %>
    <%= image_tag artist.image('large'), :style => "float:left; margin:5px; margin-left:0px;" %>
    <%= artist.summary.html_safe %>
  </div>

  <%= cycle("", "", "<hr/>").html_safe %>

  <% i += 1%>
<% end %>


