<div class = "span7" style = "position:absolute; background-color: rgba(255,255,255,0.6); filter: alpha(opacity=60); padding: 1em; margin-top: 2em; margin-left: 0em; width: 59%;">

<h2>This web-hack was written by <%= link_to 'Rory Gianni', 'http://rorygianni.me.uk', :rel => "author" %> as part of <%= link_to 'Culture Hack Scotland 2012', 'http://www.welcometosync.com/hack/', :target => "_blank" %>. The data set of Glasgow-related artists and tracks was provided by <%= link_to 'OpenEar music', 'http://www.openearmusic.com/', :target => "_blank" %> and <%= link_to 'Glasgow UNESCO City of Music', 'http://www.glasgowcityofmusic.com', :target => '_blank' %>.  

<br/><br/>

Hope you enjoy!

<br/><br/> PS, You should <%= link_to 'follow me on Twitter', 'http://twitter.com/digitalWestie', :target => "_blank" %> :)

</div>

<div class = "" style = "">
<%= image_tag 'http://farm8.staticflickr.com/7123/7123209773_2696a8360f_b.jpg', :style => "float:right;" %><br/>

</div>

